<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a23per.sanplearchitecturecomponent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".handling.activity.MainActivity">

        </activity>
        <activity android:name=".handling.activity.SampleWithImplementsActivity" >

        </activity>
        <activity android:name=".handling.activity.SampleFragmentActivity" >

        </activity>
        <activity android:name=".livedata.activity.MainLiveData" >

        </activity>
        <activity android:name=".viewmodel.activity.MainViewModel" >

        </activity>
        <activity android:name=".room.activity.MainRoom" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>